<link rel="stylesheet" href="/public/css/main.css">
<div class="container-fluid h-100">
    <div class="row h-100">
        {{!-- begin sidebar --}}
        <div id="site_sidebar" class="col-2">
            {{!-- begin sidebar links --}}
            <div class="row sidebar_link_row">
                <a class="sidebar_link_btn" href="/"> Homepage </a>
            </div>
            {{#unless logged_in}}
                <div class="row sidebar_link_row">
                    <a class="sidebar_link_btn" href="/login">  Login/Register </a>
                </div>
            {{/unless}}
            <div class="row sidebar_link_row">
                <a class="sidebar_link_btn active" href="/garage/garage_list"> Garage List </a>
            </div>
            {{#if logged_in}}
                <div class="row sidebar_link_row">
                    <a class="sidebar_link_btn" href="/users/user_profile/"> User Profile </a>
                </div>
            {{/if}}
            {{#if isOwner}}
                <div class="row sidebar_link_row">
                    <a class="sidebar_link_btn" href="/garage/management">Garage Management</a>
                </div>
            {{/if}}
            {{#if logged_in}}
                <div class="row sidebar_link_row">
                    <a class="sidebar_link_btn" href="/users/logout"> Logout </a>
                </div>
            {{/if}}
            {{!-- end sidebar links --}}
        </div>
        {{!-- end sidebar --}}

        {{!-- begin page content --}}
        <div id="site_content" class="col-10">
            <h2>All Garages</h2>
            {{#each garages}}
                <div class="row py-3 px-2 my-1 appt-box">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <span>
                                        Name: <b><a style=color:#0055af href="/garage/info/{{this._id}}">{{this.name}}</a></b>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span>
                                        Location: {{this.location}}
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <span>
                                        Phone Number: {{this.phoneNumber}}
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <span>
                                        Website: {{this.website}}
                                    </span>
                                </div>
                            </div>
                        </div>                        
                    </div>
            {{/each}}
        </div>
        {{!-- end page content --}}
    </div>
</div>

